.tri-face {
    border: 0;

    background: var(--border-color);
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);

    /*box-shadow: inset 0 0 1px rgba(0, 0, 0);*/
}

.tri-face::after {
    content: "";
    position: absolute;
    inset: var(--border-width);
    background: var(--base-color);
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    z-index: -1;
}

.tri-face.texture::after {
    background: transparent;
}