@charset "utf-8";

/********************************************************************************************************************************
	
	[Table of contents]
	
	01. General
    02. Headlines
	
	
	
/*******************************************************************************************************************************/
/*****General*******************************************************************************************************************/
/*******************************************************************************************************************************/

:root {
    --font: "Inter", Arial, sans-serif;
    --green: #62D062;
    --orange: #FF961E;
    --red: #FF2E2E;
    --blue: #3765FF;
    --grey: #444444;
    --white: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
}

body {
	font-family: var(--font);
	font-size: 10px;
	font-weight: 300;
	color: var(--white);
}

/*******************************************************************************************************************************/
/*****Headlines*****************************************************************************************************************/
/*******************************************************************************************************************************/

h1 {
    font-family: var(--font);
    font-weight: 600; /* SemiBold */
    font-size: 6.8rem;
    line-height: 1.1;
    letter-spacing: 0%;
}

h2 {
    font-family: var(--font);
    font-weight: 600; /* SemiBold */
    font-size: 5.6rem;
    line-height: 1.2;
    letter-spacing: 0%;
}

h3 {
    font-family: var(--font);
    font-weight: 600; /* SemiBold */
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: 0%;
}

h4 {
    font-family: var(--font);
    font-weight: 600; /* SemiBold */
    font-size: 3.2rem;
    line-height: 1.2;
    letter-spacing: 0%;
}

h5 {
    font-family: var(--font);
    font-weight: 600; /* SemiBold */
    font-size: 2.6rem;
    line-height: 1.2;
    letter-spacing: 0%;
}

h6 {
    font-family: var(--font);
    font-weight: 600; /* SemiBold */
    font-size: 1.8rem;
    line-height: 1.2;
    letter-spacing: 0%;
}